## Linear Regression
An estimator is any model that tries to estimate a variable y from another variable(s) x given pairs of data (x<sub>1</sub>,y<sub>1</sub>),(x<sub>2</sub>,y<sub>2</sub>),...,(x<sub>N</sub>,y<sub>N</sub>)

Regression is when the targets (y) are quantities (not cat vs dog but rather price of a house)

An example would be trying to guess how many people will buy icecream from a shop at any day given the temprature on that day. In this case, the target is the number of icecream people will buy, it is an integer and any value (ex: 14 icecreams) doesn't represent a particular class, so it will be represented as a regression problem. In this case, it turns out that x is also a quantity (temprature); however, this is not necessary and is tackled by approaches other than linear regression.

To estimate the price of the icecream from temperature we gather the data on various days from various different places and get the following data.



We can see that a line (could  also be a curve) could fit the data, but how can we find which line exactly.

#### Line Equation Review
A line in 2D can be parametrized using a slope m and a y-intercept b which would result in it having an equation

$$y = mx+b$$

In the example of the icecream, if the temperature at a day was 30, our prediction for the number of icecreams sold would be m\*30 + b, so we simply need to find m and b.

#### Squared Loss
We need some measurement of how good our line is to be able to find the "best" line, so we will measure the difference between our predictions and the correct values from the data.


Then, we will square all the differences and add them up. This will be the value we try to minimize.

#### Note
The normal equation will probably not work. It is left for you to figure it out and let everyone else know, let's see who figures it out first (it's a tricky issue).

In [51]:
import numpy as np
import pandas as pd

In [52]:
class Linear_Regression():
    '''
    Linear Regression model created using only NumPy
    
    Attributes
    ----------
    weights: np.array of floats
        All the parameters of the model (including bias)
    '''
    slope=0
    def __init__(self):
        self.weights = None
        
    def train(self,data_X,data_y):
        '''
        Train the model using the given data
        
        Parameters
        ----------
        data_X: np.array, shape = (N, num_features)
            Features from the data, each row is one data point. Assumes that a column of ones was added to data_X
        data_y: np.array, shape = (N, num_targets)
            The target values to predict, each row contains the targets for one data point
        '''
        ########################## Insert code here ##########################
        slope = np.linalg.pinv(data_X.T@data_X).dot(data_X.T@data_y).T.reshape(-1)
        return slope 
    
    def predict(self,x_to_predict):
        '''
        Predict using the given value as input
        
        Assumes that self.train(.,.) has been called before calling this method
        
        Parameters
        ----------
        x_to_predict: np.array, shape = (M, num_features)
            A given list of inputs to predict targets for, each row is one input. Assumes that a column of ones was added similar to the training data
        
        Returns
        -------
        np.array of floats, shape = (M, num_targets)
            Predicted values for each input
        '''
        ########################## Insert code here ##########################
        global slope
        y=(x_to_predict@ slope)

        return y

### Import the data and remove useless columns

In [42]:
df = pd.read_csv("train.csv")
df.drop(columns=["Id"],inplace=True)
df.head()

   MSSubClass MSZoning  LotFrontage  ...  SaleType SaleCondition SalePrice
0          60       RL         65.0  ...        WD        Normal    208500
1          20       RL         80.0  ...        WD        Normal    181500
2          60       RL         68.0  ...        WD        Normal    223500
3          70       RL         60.0  ...        WD       Abnorml    140000
4          60       RL         84.0  ...        WD        Normal    250000

[5 rows x 80 columns]

### Handle the missing data (NaNs)

In [53]:
df.drop(columns=df.columns[df.isnull().sum().values>200],inplace=True)
df.dropna(inplace=True)
df.isnull().sum().values

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0])

### Replace categorical data (strings) with numerical values

In [54]:
obj_to_replace = df["MSZoning"].dtype

for column in df.columns:
    if df[column].dtype == obj_to_replace:
        uniques = np.unique(df[column].values)
        for idx,item in enumerate(uniques):
            df[column] = df[column].replace(item,idx)
            
df.head()

   MSSubClass  MSZoning  LotArea  ...  SaleCondition  SalePrice  bias
0          11         4       35  ...              4        289   1.0
1           0         3      731  ...              5        394   1.0
2          10         3      676  ...              4        209   1.0
3           0         3      806  ...              4        127   1.0
4           0         3      850  ...              4        579   1.0

[5 rows x 75 columns]

### Add the bias column (column of ones)

In [55]:
df["bias"] = np.ones(df.shape[0])
df.head()

   MSSubClass  MSZoning  LotArea  ...  SaleCondition  SalePrice  bias
0          11         4       35  ...              4        289   1.0
1           0         3      731  ...              5        394   1.0
2          10         3      676  ...              4        209   1.0
3           0         3      806  ...              4        127   1.0
4           0         3      850  ...              4        579   1.0

[5 rows x 75 columns]

### Divide the data into training, testing, X, and y

In [56]:
df = df.sample(frac=1).reset_index(drop=True)
training_df = df[:-100]
val_df = df[-100:]
training_y = training_df["SalePrice"].values
training_X = training_df.drop(columns=["SalePrice"]).values
val_y = val_df["SalePrice"].values
val_X = val_df.drop(columns=["SalePrice"]).values

print(training_X.shape)
print(np.mean(training_y))

(1238, 74)
272.3513731825525

### Train the linear regressor

In [59]:
# Create and fit the model
LR_regressor = Linear_Regression()
coef=LR_regressor.train(training_X,training_y)
print(coef)
# Calculate Mean Absolute Error (Easier to interpret than MSE)
########################## Insert code here ##########################
sum=0.0
for i in range(1238) :
    sum=sum + abs(predicted_home_prices[i]-training_y[i])

print("Mean Absolute error=",sum/1238)

[-6.26643524e-01 -1.39049178e+01  3.50149511e-02  7.44101996e+01
 -2.13621973e+00 -1.41297233e+00 -7.24283849e+01  1.23756372e-01
  2.18041958e+01 -1.64838612e-01 -5.38312206e-01 -9.68939016e+00
 -1.95085722e+00 -1.22874207e-01  2.26098117e+01  1.38229058e+01
  8.26558085e-01  3.35752204e-01 -1.75845288e-01  1.70101494e-02
 -2.80310264e+00  2.14475304e+00  1.05133842e+00 -5.62890741e-03
 -3.93406560e+00 -1.78977162e+00  4.03516005e+00 -5.57899894e+00
  2.86531493e+00 -2.78907888e+00 -6.02766167e-01 -4.15162758e-02
  9.68417309e-01 -2.20688540e-01 -7.03820242e-02  1.65787394e-01
 -8.36124937e+00 -3.19877941e+00 -6.40321565e-01 -9.67165511e-01
  2.95235586e-02  8.79062395e-02 -1.28497448e+00  2.29454083e-01
  1.29549660e+01  5.40953321e+00  8.36804612e+00  4.16440852e-01
 -7.73009200e+00 -7.98782120e+01 -6.41309386e+00  7.76745208e-01
  1.12665781e+01  1.17375997e+01 -1.14780422e+00 -1.54145135e-01
 -4.07828726e+00  1.37579974e+01  6.27887291e-02 -2.53010101e+00
  2.08877295e+00 -9.20498582e-01  5.36261836e-02  4.40113192e-02
  1.13108958e-01 -3.75970871e-02  4.73921913e-01  8.38282238e+00
  2.47092473e-01  2.65687139e-01 -1.06200723e+00 -1.25309272e-01
  6.45330810e+00  1.58567174e+02]
Mean Absolute error= 158.58635837120684

### Train using the sklearn linear regressor

In [58]:
from sklearn.linear_model import LinearRegression

# Create and fit the model
########################## Insert code here ##########################
reg = LinearRegression()
reg.fit(training_X,training_y)
sklearn_coef=reg.coef_
sklearn_coef[73]=reg.intercept_
print("regression Coef=",reg.coef_)
# Calculate Mean Absolute Error (Easier to interpret than MSE)
########################## Insert code here ##########################
from sklearn.metrics import mean_absolute_error
predicted_home_prices=reg.predict(training_X)
print("Mean absolute error=",mean_absolute_error(training_y, predicted_home_prices))

# Calculate Mean Squared Error
from sklearn.metrics import mean_squared_error
from math import sqrt

Mean=mean_squared_error(training_y,predicted_home_prices)
print("root mean squared error =",sqrt(Mean))

regression Coef= [-6.26643523e-01 -1.39049178e+01  3.50149511e-02  7.44101996e+01
 -2.13621973e+00 -1.41297233e+00 -7.24283846e+01  1.23756373e-01
  2.18041958e+01 -1.64838612e-01 -5.38312206e-01 -9.68939017e+00
 -1.95085722e+00 -1.22874207e-01  2.26098117e+01  1.38229058e+01
  8.26558085e-01  3.35752204e-01 -1.75845288e-01  1.70101498e-02
 -2.80310264e+00  2.14475304e+00  1.05133842e+00 -5.62890742e-03
 -3.93406560e+00 -1.78977162e+00  4.03516005e+00 -5.57899894e+00
  2.86531493e+00 -2.78907888e+00 -6.02766167e-01 -4.15162758e-02
  9.68417308e-01 -2.20688540e-01 -7.03820242e-02  1.65787394e-01
 -8.36124937e+00 -3.19877941e+00 -6.40321566e-01 -9.67165510e-01
  2.95235585e-02  8.79062395e-02 -1.28497448e+00  2.29454083e-01
  1.29549660e+01  5.40953320e+00  8.36804612e+00  4.16440853e-01
 -7.73009200e+00 -7.98782120e+01 -6.41309386e+00  7.76745207e-01
  1.12665781e+01  1.17375997e+01 -1.14780422e+00 -1.54145135e-01
 -4.07828726e+00  1.37579974e+01  6.27887291e-02 -2.53010101e+00
  2.08877295e+00 -9.20498582e-01  5.36261836e-02  4.40113192e-02
  1.13108958e-01 -3.75970871e-02  4.73921913e-01  8.38282238e+00
  2.47092473e-01  2.65687139e-01 -1.06200723e+00 -1.25309271e-01
  6.45330810e+00  1.58567174e+02]
Mean absolute error= 158.58635837120667
root mean squared error = 164.62135474136164